@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: white;
}
.navbar{
    .pad{padding:5px;}
    img {
        width: 28px;
        height: 28px;
    }
    .navbar-brand:hover{
        padding: 5px;
        background-color: rgb(240, 240, 240);
        // padding: 7px;
        box-sizing: content-box;
        border-radius: 50%;
    }
    input[placeholder] {
        font-weight: 600;
        padding: 0 0 0 35px;
    }
    .form-control{
        background-image: url("../images/search-solid.svg");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: 5px;
        background-color: rgb(239, 239, 239);
        min-width: 250px;
    }
    .nav-link{
        color: rgb(153, 153, 153);
        font-weight: 700;
        margin-left: 10px;
    }
    .nav-link:hover {
        background-color: rgb(240, 240, 240);
        border-radius: 25px;
    }
border-bottom: 1px solid rgb(239, 239, 239);
background-color: white;

    .home{
        font-weight: 900;
        color: black;
    }
}
.container-fluid{
    margin-top: 20px;
    padding-right: 45px;
    padding-left: 45px;

}
.card{
    margin-bottom: 15px;
    border: none;

    img{
        max-width:100%;
        border-radius: 5px;
    }
}
.card:hover{
    background-color:rgb(242, 242, 242);
}