.container-fluid
    .row
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card
                img(src= "http://www.fillmurray.com/240/420")
            .card
                img(src= "http://www.stevensegallery.com/240/235")
            .card
                img(src= "http://www.placebear.com/240/240")
            .card 
                img(src= "http://www.placekitten.com/240/354")
            .card
                img(src= "http://www.lorempixel.com/252/354")
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card
                img(src= "http://www.placekitten.com/240/155")
            .card
                img(src= "http://www.lorempixel.com/240/250")
            .card
                img(src= "http://www.lorempixel.com/240/305")
            .card 
                img(src= "http://www.placebear.com/240/236")
            .card
                img(src= "http://www.fillmurray.com/252/240")
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card
                img(src= "http://www.fillmurray.com/240/360")
            .card
                img(src= "http://www.stevensegallery.com/240/235")
            .card
                img(src= "http://www.fillmurray.com/240/300")
            .card 
                img(src= "http://www.placebear.com/240/180")
            .card
                img(src= "http://www.fillmurray.com/252/430")
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card
                img(src= "http://www.fillmurray.com/240/300")
            .card
                img(src= "http://www.stevensegallery.com/240/420")
            .card
                img(src= "http://www.fillmurray.com/240/500")
            .card 
                img(src= "http://www.placebear.com/240/717")
            .card
                img(src= "http://www.fillmurray.com/252/560")
            .card
                img(src= "http://www.fillmurray.com/240/320")
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card
                img(src= "http://www.fillmurray.com/240/400")
            .card
                img(src= "http://www.placekitten.com/240/235")
            .card
                img(src= "http://www.lorempixel.com/240/240")
            .card 
                img(src= "http://www.placekitten.com/240/354")
            .card
                img(src= "http://www.lorempixel.com/252/354")
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card
                img(src= "http://www.placekitten.com/240/155")
            .card
                img(src= "http://www.lorempixel.com/240/240")
            .card
                img(src= "http://www.lorempixel.com/240/305")
            .card 
                img(src= "http://www.lorempixel.com/240/236")
            .card
                img(src= "http://www.fillmurray.com/252/240")
