.container-fluid
    .row
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card.px-2.pt-2.pb-3
                img(src= "http://www.fillmurray.com/240/420")
                .card-body.p-0
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.stevensegallery.com/240/235")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placebear.com/240/240")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placekitten.com/240/354")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ... 
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/252/354")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placekitten.com/240/155")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/240/250")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/240/305")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placebear.com/240/236")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ... 
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/252/240")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/240/320")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/240/360")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.stevensegallery.com/240/235")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/240/300")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placebear.com/240/180")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ... 
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/252/430")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/240/300")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.stevensegallery.com/240/420")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/240/500")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placebear.com/240/717")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ... 
                    .card-text
            //- .cards
            //-     img(src= "http://www.fillmurray.com/252/560")
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/240/400")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placekitten.com/240/235")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/240/240")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placekitten.com/240/354")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ... 
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/252/354")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.placekitten.com/240/155")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/240/240")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/240/305")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.lorempixel.com/240/236")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ... 
                    .card-text
            .card.px-2.pt-2.pb-3 
                img(src= "http://www.fillmurray.com/252/240")
                .card-body.p-0 
                    .card-text.d-flex.flex-row-reverse ...
                    .card-text
