.navbar.navbar-expand-lg.navbar-expand-sm
    img(src="../images/pinterest.png")
    a.navbar-brand(href="#") 
    form.form-inline
    input.form-control
    ul.navbar-nav 
            li.nav-item.active
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") Following
            li.nav-item
                a.nav-link(href="#") Account
            li.nav-item
                a.nav-link.disabled(href="#")
            img(src="../images/bubble.png")
            li.nav-item
                a.nav-link.disabled
            img(src="../images/pinterest.png")
            li.nav-item
                a.nav-link.disabled
            img(src="../images/pinterest.png")
