.navbar.sticky-top.navbar-expand
    a.navbar-brand.pad(href="").btn
        img(src="../images/pinterest.png")
        form.form-inline
    input(placeholder='Search').form-control
    ul.navbar-nav
            li.nav-item.navbar-nav
                a.nav-link.home(href="#").btn.b.d-none.d-lg-inline.d-xl-inline  Home
            li.nav-item.navbar-nav
                a.nav-link(href="#").btn.d-none.d-lg-inline.d-xl-inline Following
            li.nav-item
                a.nav-link(href="#").btn.d-none.d-lg-block.d-xl-block Account
            li.nav-item
                a.nav-link(href="#").btn
                    i.fas.fa-user-friends.d-lg-none.d-xl-none
            li.nav-item.navbar-nav
                a.nav-link(href="#").btn
                    i.far.fa-comment
            li.nav-item
                a.nav-link(href="#").btn
                    i.fas.fa-bell
            li.nav-item
                a.nav-link(href="#").btn
                    i.fas.fa-ellipsis-h